@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    color: #dc9814;
}

.zoom-container {
    overflow: hidden;
    position: relative;
}

.zoom-container img {
    transition: transform 0.3s ease;
    /* Smooth transition for the zoom effect */
    max-width: 100%;
    display: block;
    margin: auto;
}

.zoom-container:hover img {
    transform: scale(1.5);
    /* Scale the image to 1.5 times its original size */
}